<div>
    <h1>Forms binding</h1>
    <h3>{{mensaje}}</h3>
    <!-- UN FORMULARIO SIEMPRE DEBE TENER UN ID DE ANGULAR CON LA IGUALDAD A ngForm -->
    <form #userForm="ngForm" (ngSubmit)="recibirDatos()">
        <!-- LOS CONTROLES DEBEN TENER UNA ETIQUETA ngModel APUNTANDO AL ID -->
        <label>Nombre: </label><br/>
        <input type="text" [(ngModel)]="user.nombre" name="cajanombre" #cajanombre="ngModel"/><br/>
        <label>Apellidos: </label><br/>
        <input type="text" [(ngModel)]="user.apellidos" name="cajaapellidos" #cajaapellidos="ngModel"/><br/>
        <label>Edad: </label><br/>
        <input type="number" [(ngModel)]="user.edad" name="cajaedad" #cajaedad="ngModel"/><br/>
        <button>Enviar datos</button>
    </form>
    <h2 style="color:blue">Nombre: {{user.nombre}}, Apellidos: {{user.apellidos}}, Edad: {{user.edad}}</h2>
</div>